.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.wrapperPadding{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 10vmin;
    font-weight: 800;
    color: white;
    transition-duration: 300ms;
    position: relative;
}

.paddingPanel{
    width: 35%;
    aspect-ratio: 7 / 1;
    background-color: rgb(187, 186, 186, 0.1);
    padding: 10px;
    border-radius: 40px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
}


.ColorLight, .ColorDark{
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    position: absolute;
    z-index: 1;
    font-size: 3vmin;
    color: #fff;
}
.ColorLight{
    right: 60%;
}
.ColorDark{
    right: 0;
}




.menu{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    opacity: 0;
}


@media (max-width: 1200px) {
    .ColorLight{
        right: 55%;
    }
}