 .wrapper{
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3.5fr 0.5fr 1fr;
}



.wrapperBtns{
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}
.btnRgb, .btnColor{
    width: 50%;
    height: 70%;
    font-size: 3vmin;
    color: white;
    border: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background: linear-gradient(to right, #6a11cb, #2575fc);
}
.btnColor{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: linear-gradient(to right, #2575fc, #6a11cb);
}



.wrapperColor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnPalette{
    width: 90%;
    height: 70%;
    border-radius: 30px;
    font-size: 3vmin;
    font-family: "Montserrat", sans-serif;
    border: none;
    background: linear-gradient(to right, #6a11cb, #2575fc, #6a11cb);
    color: white;
}



.wrapperMix{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnMix{
    width: 90%;
    height: 70%;
    border-radius: 30px;
    font-size: 3vmin;
    font-family: "Montserrat", sans-serif;
    border: none;
    background: linear-gradient(to right, #6a11cb, #2575fc, #6a11cb);
    color: white;
}